[submodule "bots\\pyaiml"]
	path = bots\\pyaiml
	url = https://github.com/creatorrr/pyAIML.git
[submodule "bots\\rivescript"]
	path = bots\\rivescript
	url = https://github.com/kirsle/rivescript-python.git
